@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>


<p>
    With this app you can:
</p>
<p>
    * Keep track of pets medical history
</p>
<p>
    * Keep track of consultations
</p>
<p>
    * Create invoices
</p>
