@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Vet Clinic</h1>
</div>


<div class="row">
    <div class="col-md-10">

        <h2>Vet Clinic</h2>
        <p>
            Vet Clinic is an application designed for veterinarians to support customer service and the administration of their activity.
        </p>
        <p>
            Welcome!
        </p>
        

    </div>

</div>


